# Oppsumering 
---
**Innhold**
- Variabler
- f-string
- Tester
- Løkker
- Funksjoner
- Lister
- Dictionary

## 1. Variabler

In [14]:
navn = "Mario"  # Tilordne varibler strenger (tekst med anførselstegn)
alder = 35      # Tilordne variabler integer (heltall) 
høyde = 163.5   # Tilordne varibler flyttall/float (desimaltall)
formue = 3212412.2363523

## 2. f-string

In [15]:
utskrift = f"{navn} er {alder} år, {høyde} cm høy og har en formue på {formue:.2f} kr."

print(utskrift)

Mario er 35 år, 163.5 cm høy og har en formue på 3212412.24 kr.

## 3. Tester

In [16]:
if navn == "Mario":
    print("Lillebroren din heter Luigi.")

Lillebroren din heter Luigi.

In [17]:
navn == "Mario"

True

In [18]:
if alder > 30: 
    print("Du begynner å bli gammel.")

Du begynner å bli gammel.

In [19]:
alder < 30

False

In [20]:
if formue < 1000000:
    print("Du er enda ikke millionær.")

elif formue > 20000000:
    print("Du er mangemillionær.")

else:
    print("Du er millionær.")

Du er millionær.

In [21]:
if formue < 1000000:
    print("Du er enda ikke millionær.")

elif 1000000 <= formue < 20000000:
    print("Du er millionær.")

else:
    print("Du er mangemillionær.")

Du er millionær.

## Løkker

In [33]:
for år in range(1, alder+1):
    print(f"Gratulerer med {år:2}-årsdagen, {navn}!")

Gratulerer med  1-årsdagen, Mario!
Gratulerer med  2-årsdagen, Mario!
Gratulerer med  3-årsdagen, Mario!
Gratulerer med  4-årsdagen, Mario!
Gratulerer med  5-årsdagen, Mario!
Gratulerer med  6-årsdagen, Mario!
Gratulerer med  7-årsdagen, Mario!
Gratulerer med  8-årsdagen, Mario!
Gratulerer med  9-årsdagen, Mario!
Gratulerer med 10-årsdagen, Mario!
Gratulerer med 11-årsdagen, Mario!
Gratulerer med 12-årsdagen, Mario!
Gratulerer med 13-årsdagen, Mario!
Gratulerer med 14-årsdagen, Mario!
Gratulerer med 15-årsdagen, Mario!
Gratulerer med 16-årsdagen, Mario!
Gratulerer med 17-årsdagen, Mario!
Gratulerer med 18-årsdagen, Mario!
Gratulerer med 19-årsdagen, Mario!
Gratulerer med 20-årsdagen, Mario!
Gratulerer med 21-årsdagen, Mario!
Gratulerer med 22-årsdagen, Mario!
Gratulerer med 23-årsdagen, Mario!
Gratulerer med 24-årsdagen, Mario!
Gratulerer med 25-årsdagen, Mario!
Gratulerer med 26-årsdagen, Mario!
Gratulerer med 27-årsdagen, Mario!
Gratulerer med 28-årsdagen, Mario!
Gratulerer med 29-årsdagen, Mario!
Gratulerer med 30-årsdagen, Mario!
Gratulerer med 31-årsdagen, Mario!
Gratulerer med 32-årsdagen, Mario!
Gratulerer med 33-årsdagen, Mario!
Gratulerer med 34-årsdagen, Mario!
Gratulerer med 35-årsdagen, Mario!

## Funksjoner

In [24]:
def gratulasjonshilsen(alder, navn):
    print(f"Gratulerer med {alder:2}-årsdagen, {navn}!")

gratulasjonshilsen(2020, "Jesus")

Gratulerer med 2020-årsdagen, Jesus!

In [25]:
gratulasjonshilsen(378, "Isaac Newton")

Gratulerer med 378-årsdagen, Isaac Newton!

In [26]:
def gratulasjonshilsen(alder, navn):
    return f"Gratulerer med {alder:2}-årsdagen, {navn}!"

print(gratulasjonshilsen(378, "Isaac Newton"))

Gratulerer med 378-årsdagen, Isaac Newton!

## Lister

In [29]:
tallene = [2, 4, 7 ,1, 7, 1, 0, 123, 15, 122, 54, 0, 84]
print(tallene[2])

7

In [30]:
for tall in tallene:
    print(tall)

2
4
7
1
7
1
0
123
15
122
54
0
84

In [31]:
sum = 0
for tall in tallene:
    sum = sum + tall
    
print(sum)

420

In [1]:
ordene = ["En", "Liste", "Med", "Ord"]
for ord in ordene:
    print(ord)

En
Liste
Med
Ord

## Dictionary

In [6]:
person = {
    "navn": "Mario", 
    "alder": 35,
    "høyde": 167
    }

print(person)
print(person["navn"])
print(person["alder"])

{'navn': 'Mario', 'alder': 35, 'høyde': 167}
Mario
35

In [18]:
bil = {
    "merke": "Nissan",
    "modell": "Skyline r32 GTR",
    "år": 1989,
    "elbil": False,
    "pris": 400_000.00
    }

print(f'Kjøp {bil["merke"]} {bil["modell"]} fra {bil["år"]} til kun {bil["pris"]:.2f} kr.')

Kjøp Nissan Skyline r32 GTR fra 1989 til kun 400000.00 kr.