# Prøve

### Oppgave 1.1
Lag et program som skriver ut "Du går på Molde vgs". Navnet på skolen skal være lagret i en variabel *skole*

#### Løsning:

<b>Utvid</b> programmet til å spørre om hvilken skole du går på med en imput

#### Løsning:

### Oppgave 1.2
Opprett variabler a og en variabel b med verdiene 12 og 30. Skriv ut summen og produktet til variablene.

#### Løsning:

### Oppgave 2.1
Lag et program som skriver ut "Nå er det jul igjen." 5 ganger ved hjelp av en for-løkke.

### Oppgave 2.2
a) Lag en liste med 5 tall.

b)  Skriv ut vardien til det 2  tallet.

c) Bruk en for-løkket til å skrive ut alle tallene i lesta.

d) Bruk en for-løkke og skriv bare ut tallene i lisa som er større enn 5.

e) Bruk en for-løkke til å bestemme summen til tallene i lista. Skriv ut summen.

### Oppgave 2.2
Lag et program ved hjelp av en for-løkke som skriver ut:

a) Alle heltall fra og med 0 til og med 10.

b) Alle heltall fra og med 1 til og med 7.

c) Alle heltall fra og med -3 til og med 3.

### Oppgave 3.1

Fullfør programmet slik at det skriver ut verdien til variabelen a

In [ ]:
a = 2
b = 3

if ...:
    print(a)

else:
    print(b)

### Oppgave 4.1

Lag en funksjon som returnerer: 

a) Kvadratet til et tall.

b) Bruk funksjonen til å skrive ut kvadratet til 2 og 8.

b) Bruk funksjonen og en for-løkke til å skrive ut kvadratet til tallene fra og med 1 til og med 10

### Oppgave 4.2

Lag en funksjon, utskrift, som tar to argument, navn og antall "ender pearls".

```utskrift("Steve", 4)```   skal resultere i utskriften: Steve has 4 ender pearls.

**Utvid** programmet til å skrive ut ulik tekst avhengig av antall "ender pearls" 
 
- Hvis antallet er 12 eller større, f.eks:

    ```utskrift("Alex", 14)```
    
    *Steve has 14 ender pearls and is ready for the end.*


- Hvis antallet er mindre enn 12, f.eks:

    ```utskrift("Steve", 5)```

    *Steve has 5 ender pearls and is not ready for the end.*

### Oppgave 5.1

Lag et dictionary til følgende informasjon. 

En figur heter Steve, har former som en kube, ferierer i Nether og er på nivå 32.

#### Løsning:

### Utfordring

Hvis vi lister opp alle naturlige tall (heltall større enn 0) mindre enn 10, som har 3 eller 5 som faktor, får vi 3, 5, 6 og 9. Summen til disse tallene er 23.

Finn summen av alle slike tall som er mindre enn 1000.